@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {box-sizing: border-box; margin: 0; padding: 0}
:root {
    --clr-white: #ffffffff;
    --clr-black: #00000000;
    --clr-grey-950: #131518;
    --clr-grey-900: #262E38;
    --clr-grey-500: #969FAD;
    --clr-orange-500: #FC7614;
    --clr-linear-gradient: linear-gradient(to bottom right, #232A34, #181E27);
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-1300: 104px;
    --spacing-1700: 136px;

    --spacing-top: 24px;
    --spacing-options: 16px;
    --fnt-title: 700 24px/30px "Overpass", sans-serif;
    --fnt-text: 400 14px/22px "Overpass", sans-serif;
    --fnt-option: 700 14px/18px "Overpass", sans-serif;
    --fnt-submit: 700 14px/18px "Overpass", sans-serif;
    --letter-spacing-submit: 1.87px;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: var(--clr-grey-950);
    align-content: center;
    height: 100vh;
}

.interactive {
    margin-inline: auto;
    border-radius: var(--spacing-200);
    padding: var(--spacing-300);
    background-image: var(--clr-linear-gradient);
}

.interactive__figure {
    padding: var(--spacing-200);
    background-color: var(--clr-grey-900);
    width: fit-content;
    border-radius: 50%;
}

.interactive__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.interactive__title {
    margin-top: var(--spacing-top);
    font: var(--fnt-title);
    color: #fff;
}

.interactive__text {
    font: var(--fnt-text);
    color: var(--clr-grey-500);
    margin: var(--spacing-200) 0;
}

.options {
    display: flex;
    list-style: none;
    gap: var(--spacing-options);
}

.options li {
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center center;
    border-radius: 50%;
    background-color: var(--clr-grey-900);
}

.options li input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--clr-grey-500);
}

.btn-feedback {
    margin-top: var(--spacing-top);
    background-color: var(--clr-orange-500);
    border-radius: 22.5px;
    color: var(--clr-grey-950);
    font: var(--fnt-submit);
    padding: var(--spacing-200);
    border: none;
    width: 100%;
    letter-spacing: var(--letter-spacing-submit);
}