@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {box-sizing: border-box; margin: 0; padding: 0}
:root {
    --clr-grey-950: #131518;
    --clr-grey-900: #262E38;
    --clr-grey-500: #969FAD;
    --clr-orange-500: #FC7614;
    --clr-orange-disabled: #f0b285;
    --clr-linear-gradient: linear-gradient(to bottom right, #232A34, #181E27);
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-1300: 104px;
    --spacing-1700: 136px;

    --spacing-top: 24px;
    --spacing-options: 16px;
    --size-option: 42px;
    --fnt-title: 700 24px/30px "Overpass", sans-serif;
    --fnt-text: 400 14px/22px "Overpass", sans-serif;
    --fnt-option: 700 14px/18px "Overpass", sans-serif;
    --fnt-submit: 700 14px/18px "Overpass", sans-serif;
    --letter-spacing-submit: 0.17px;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: var(--clr-grey-950);
    align-content: center;
    height: 100vh;
}

.interactive {
    margin-inline: auto;
    border-radius: var(--spacing-200);
    padding: var(--spacing-300);
    background-image: var(--clr-linear-gradient);
    width: 90%;
    max-width: 412px;
}

.interactive__figure {
    padding: var(--spacing-200);
    background-color: var(--clr-grey-900);
    width: fit-content;
    border-radius: 50%;
}

.interactive__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.interactive__title {
    margin-top: var(--spacing-top);
    font: var(--fnt-title);
    color: #fff;
}

.interactive__text {
    font: var(--fnt-text);
    color: var(--clr-grey-500);
    margin: var(--spacing-200) 0;
}

.options {
    display: flex;
    list-style: none;
    gap: var(--spacing-options);
}

.option {
    width: var(--size-option); height: var(--size-option);
    min-width: var(--size-option); min-height: var(--size-option);
    display: grid;
    place-items: center center;
    border-radius: 50%;
    background-color: var(--clr-grey-900);
    cursor: pointer;
}

.option:hover {
    background-color: #fff;
}

.option:hover input {
    color: var(--clr-grey-900);
}


.option input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--clr-grey-500);
    font: var(--fnt-option);
    cursor: pointer;
}

.active {
    background-color: var(--clr-orange-500);
}

.active input {
    color: var(--clr-grey-900);
}

.btn-feedback {
    margin-top: var(--spacing-top);
    background-color: var(--clr-orange-500);
    border-radius: 22.5px;
    color: var(--clr-grey-950);
    font: var(--fnt-submit);
    padding: var(--spacing-200);
    border: none;
    width: 100%;
    letter-spacing: var(--letter-spacing-submit);
    cursor: pointer;
}


.btn-feedback:hover {
    background-color: #fff;
}

.thanks {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    padding: var(--spacing-400) var(--spacing-200);
}

.thanks__figure {
    width: fit-content;
    margin-inline: auto;
}

.thanks__img {
    display: block;
    object-fit: contain;
}

.thanks__selected {
    padding: 0 var(--spacing-200) ;
    background-color: var(--clr-grey-900);
    border-radius: 22.5px;
    height: var(--spacing-400);
    display: grid;
    place-items: center;
}

.quality {
    color: var(--clr-orange-500);
    font-size: var(--fnt-text);
}

.thanks__texts {
    text-align: center;
}

.thanks__title {
    font: var(--fnt-title);
    color: #fff;
}

.thanks__text {
    margin-top: var(--spacing-200);
    font: var(--fnt-text);
    color: var(--clr-grey-500);
}

.btn-feedback:disabled {
    background-color: var(--clr-orange-disabled);
}

@media screen and (min-width: 767px) {
    .interactive {
        padding: var(--spacing-400) var(--spacing-300);
        height: 416px;
    }

    .interactive__figure {
        width: 48px; height: 48px; 
    }

    .options {
        --spacing-options: 24px;
    }

    .options li {
        --size-option: 51px;
        letter-spacing: 0.2px;
    }

    .interactive__title {
        --fnt-title: 700 28px/35px "Overpass", sans-serif;
        --spacing-top: 32px;
    }

    .interactive__text {
        --fnt-text: 400 15px/22px "Overpass", sans-serif;
    }

    .btn-feedback {
        --spacing-top: 32px;
        --letter-spacing-submit: 1.87px;
        --fnt-text: 400 15px/22px "Overpass", sans-serif;
    }

    .thanks__img {
        width: 162px;
    }

    .quality {
        --fnt-text: 400 15px/22px "Overpass", sans-serif;
    }

    .thanks__title {
        --fnt-title: 700 28px/35px "Overpass", sans-serif;
    }

    .thanks__text {
        --fnt-text: 400 15px/22px "Overpass", sans-serif;
    }

    .thanks {
        padding: var(--spacing-500) var(--spacing-400);
        gap: var(--spacing-400);
    }
}